@use '../../scss/colors' as c;
@use '../../scss/mixins' as mixin;

.todo-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 15px 0 15px;
  .title {
    color: #000;
  }
}

.card-container {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 6px 9px rgba(0,0,0,0.15);
  overflow: hidden;
}

.tasks-list {
  &:not(.noTask) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &.noTask {
    padding: 15px 10px;
    text-align: center;
  }
}

.card {
  padding: 0 10px;
  display: flex;
  align-items: center;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid c.$veryLightGrayishBlue;
  h2 {
    font-size: 1.285rem;
    font-weight: 400;
  }
  &.completed h2 {
    text-decoration: line-through;
    opacity: 0.5;
  }
}

.card-content {
  display: flex;
  align-items: center;
}

.button {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  margin: 0 5px;
  svg {
    width: 100% !important;
    height: 100% !important;
  }
}

.check-button {
  margin-right: 10px;
  border: 1px solid c.$lightGrayishBlue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  min-width: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    @include mixin.maskImg('../images/icon-check.svg', #fff);
    width: 100%;
    height: 12px;
    display: inline-block;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }
  &::after {
    content: '';
    opacity: 0;
    background: c.$checkBackground;
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  &.checked {
    &::before, &::after {
      opacity: 1;
    }
  }
}

.add-button {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  svg {
    width: 100% !important;
    height: 24px;
  }
}

.remove-button {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  svg {
    width: 100% !important;
    height: 100% !important;
  }
}

input {
  width: 100%;
  margin-right: 10px;
  min-height: 30px;
  border: 0;
  border-bottom: 1px solid c.$veryLightGrayishBlue !important;
  &:focus-visible {
    border: 0;
    outline-style: none;
  }
}

.other-actions {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  button {
    background-color: none;
    background: none;
    border: 0;
    border-radius: 10px;
    color: c.$veryDarkGrayishBlue;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: c.$brightBlue;
    }
  }
}