body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 14px;
  min-height: 100%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  touch-action: pan-y;
  font-family: segoe ui,sans-serif;
  letter-spacing: .55px;
  word-spacing: .55px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  color: #444956;
  /* padding-top: 70px; */
}

.header {
  text-align: center;
}

.card {
  padding: 10px;
  border: 1px solid #000;
  margin: 10px;
}

.card.completed {
  opacity: .5;
}

.card.completed h2 {
  text-decoration: line-through;
}